* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
:root {
  --globalBackgroundColor: orange;
  --globalCardBackgroundColor: lightgoldenrodyellow;
  --globalRadius: 15px;
  --globalContainerwidth: 85%;
}

body {
  display: grid;
  grid-template-rows: 100px auto 100px;
  justify-items: center;
  /* align-items: center; */
  height: 100vh;
  max-width: 80vb;
  min-width: 50vb;
  background-color: lightgrey;
  margin: auto;
}

h1 {
  font-size: 2rem;
}

main {
  overflow-y: scroll;
}

.card {
  background-color: var(--globalBackgroundColor);
  height: 150px;
}
