.card__box {
  width: var(--globalContainerWidth);
  background-color: var(--globalCardBackgroundColor);
  border-radius: var(--globalRadius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  /* padding: 20px; */
} /* Hintergrund für Karten*/

.card__text {
  font-size: 1.2rem;
  font-weight: 100;
  margin: 20px;
}

.question__card__footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.question__card__footer ul {
  /* background-color: green; */
  width: 100%;
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

/*.new__card__footer li {
}*/

.question__card__footer__tag {
  text-decoration: none;
  list-style: none;
  font-size: 0.8rem;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: lightgray;
  padding: 5px;
}

.button__show__answer {
  font-size: 2rem;
  width: 100%;
  border: none;
  padding: 10px 0;
}

.button__show__answer:hover {
  color: var(--globalCardBackgroundColor);
  background-color: darkgoldenrod;
  border: 1px dotted #323232;
}

.answer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  display: none;
}

.answercard__button__hide {
  width: 40%;
  padding: 10px;
  background-color: var(--globalBackgroundColor);
  font-size: 1.2rem;
  border: none;
  border-radius: var(--globalRadius);
}

.answercard__button__hide:hover {
  background-color: darkgoldenrod;
}
