* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}
:root {
  --globalBackgroundColor: orange;
  --globalCardBackgroundColor: lightgoldenrodyellow;
  --globalRadius: 15px;
  --globalContainerwidth: 85%;
}
