.bookmark__button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: -52px;
  top: 17px;
}

.bookmark__button__svg {
  width: 45px;
  height: auto;
  fill: none;
  stroke: #323232;
  /* stroke-width: 1px; */
  /* stroke-linejoin: round; */
}

.bookmark__button__svg--marked {
  fill: darkgoldenrod;
}

.bookmark__button__svg:hover,
.bookmark__button__svg:focus {
  fill: darkgoldenrod;
}

.card__bookmark {
  position: relative;
}

.button__hide__answer {
  width: 27%;
  font-size: 1.1rem;
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: tomato;
  /* margin-bottom: 30px; */
}

.button__show__answer {
  width: 100%;
  height: 50px;
  border-radius: var(--globalRadius);
  font-size: 1.7rem;
  background-color: var(--globalBackgroundColor);
}

.footer__button__svg {
  width: 50px;
  height: auto;
  fill: none;
  stroke: #323232;
}

.footer__button__svg:hover,
.footer__button__svg:focus {
  fill: darkgoldenrod;
}
