.bookmark__button {
  background-color: transparent;
  border: none;
}

.bookmark__button__svg {
  width: 35px;
  /* height: auto; */
  fill: none;
  stroke: #323232;
  /* bottom: -5px; */
}

.bookmark__button__svg--marked {
  fill: darkgoldenrod;
}

.bookmark__button__svg:hover,
.bookmark__button__svg:focus {
  fill: darkgoldenrod;
}

.card__bookmark {
  position: relative;
}

.button__hide__answer,
.button__form__submit {
  /* width: 27%; */
  /* font-size: 1.1rem; */
  /* margin-left: auto; */
  align-self: end;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--globalBackgroundColor);
  border: none;
  /* margin-bottom: 30px; */
}

.button__form__submit {
  margin: auto;
}

.button__show__answer {
  font-size: 2rem;
  border: none;
  padding: 10px 0;
}

.button__show__answer:hover {
  color: var(--globalCardBackgroundColor);
  background-color: darkgoldenrod;
  border: 1px dotted #323232;
}

.footer__button__svg {
  width: 50px;
  height: auto;
  fill: none;
  stroke: #323232;
}

.footer__button__svg:hover,
.footer__button__svg:focus,
.footer__button__svg--aktiv {
  fill: darkgoldenrod;
}
